
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header.head {
  background-color: #029D9D;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header.head .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header.head nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header.head nav ul a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}

header.head nav ul a:hover {
  background-color: #575757;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

section.hero {
  background: linear-gradient(to right, #18a5a7 0%, #b6c0c5 106.22%);
  padding: 80px 20px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: inset 1px 1px 19px 1px #000000;
}

.accommodations {
  background: #c9f2fb;
  text-align: center;
  padding: 20px;
  box-shadow: #000000;
}

.accommodations .pagetitle h1 {
  margin-bottom: 20px;
}

.accommodation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.accommodation {
  background: linear-gradient(to right, #1d98a7 0%, #9dbac0 106.22%);
  border: 1px solid #00000075;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 8px 11px 6px 2px #333333ed;
  transition: transform 0.3s ease;
  text-align: left;
}

.accommodation:hover {
  transform: translateY(-10px);
}

.accommodation img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: -3px 4px 19px 5px #333;
}

.accommodation h1 {
  padding: 20px;
  font-size: 1.5em;
  color: #000000;
}

.accommodation p {
  padding: 0 20px 20px 20px;
  font-size: 1em;
  color: #000000;
}

.accommodation .btn {
  display: block;
  background: linear-gradient(to right, #95b8bf 0%, #239aa8 106.22%);
  color:#f8f8f8;
  padding: 10px 20px;
  margin: 0 auto 20px auto;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  border: 2px #000000;
  transition: background-color 0.3s ease;
  border:1px solid hsl(185deg 100% 15.51%);
  box-shadow: inset 0px 0px 6px 0px hsl(185deg 100% 15.51%);
  border-radius: 100px;
}

.accommodation .btn:hover {
  background: linear-gradient(to right, #95b8bf 0%, #239aa8 106.22%);
  color:black;
  box-shadow: inset 0px 0px 6px 0px hsl(185deg 100% 15.51%);
  border-radius: 100px;
}



/* FOOOTER */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
  background-color: hsl(185deg 100% 15.51%);
  padding: 70px 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff00a2;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
} 

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  background: linear-gradient(to right, #FF00A1 10%,#1100fb 300%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Needed for non-WebKit browsers */
  color: transparent; /* Ensures text is transparent so gradient shows */
	padding-left: 8px;
}

.wrapper {
  padding-top: 3.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icon {
  text-decoration: none;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.icon > i {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.icon:hover > i {
  scale: 1.6;
  background: linear-gradient(220.55deg, #ff00a2 ,#543df3 );
  /* background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;
  background:  #fcc603 100%;
  /* background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%); */
  scale: 1;
  z-index: -1;
  transition: all 300ms ease-out;
}
.icon:hover::before {
  scale: 0;
}

body {
  margin: 0px;
  padding: 0;
  font-family: Arial, sans-serif;
}

.team {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.3rem;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.team p {
  margin: 0;
  color: #f8f8f8;
}


@media (max-width: 600px) {
  .team {
      padding: 0.5rem;   
  }
  .team p {
   font-size: xx-small;
  }
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



/* Burger Menu Animation */
.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.toggle .line2 {
  opacity: 0;
}

.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links.toggle {
  display: flex;
}

/* HEADER */


*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background: url('laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
  background: linear-gradient(to right, #18a5a7 0%, #b6c0c5 106.22%);
  box-shadow: inset 0px 0px 0px #000000;
  padding: 15px 20px;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  font-size: larger;
}

h2{
  color: #333;
  padding-top: 0px;
  padding-left: 30px;
  font-size: 2.5rem;
}


h1{
  color: #1c1c1c
}
nav a{
  height: 100%;
  padding: 0 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
}
nav a:hover{
  background: linear-gradient(to right, #95b8bf 0%, #239aa8 106.22%);
  border-radius: 100px;
  border: 2px solid rgb(6, 69, 59);
  box-shadow: inset 0px 0px 6px 0px hsl(185deg 100% 15.51%);
  color: #fff;
}

.profile i {
  font-size: 39px; /* Set the size of the icon */
  color: #575757;/* Optional: Set the color of the icon */
  padding: 5px;
}

nav b:hover{
  background: linear-gradient(to right, #95b8bf 0%, #239aa8 106.22%);
  box-shadow: inset 0px 0px 6px 0px hsl(185deg 100% 15.51%);
  border-radius: 100px;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color:  linear-gradient(to right, #ff00a2 10%,#1100fb 300%);
  backdrop-filter: blur(30px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar :hover{
  background-color:  linear-gradient(to right, #ff00a2 10%,#1100fb 300%);
  backdrop-filter: blur(10px);
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
  padding-left: 2.2rem;
}

/* HEADER RESPONSIVE */

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }

  .profile{
    display: none;
  }

  .menu-button{
    display: block;
  }

  h2 {
    font-size: 1.6rem;
    padding-top: 0.5rem;
    padding-left: 0.2rem;
}

}
@media(max-width: 400px){
  .sidebar{
    width: 80%;
  }

    h2 {
        font-size: 1.5rem;
    }
  
}
